<div>
    <img src="https://domf5oio6qrcr.cloudfront.net/medialibrary/10082/healthy-eating.jpg">
</div>
<h1>Just a Few Steps to Create Your Very Own Fitness Profile</h1>
<button>Take a Survey</button>