<div id="container">
<h1 class="text-center">Login</h1>

<div class="text-center">
<input type="text" placeholder="username" id="username-login">
<input type="password" placeholder="password" id="password-login">
<button type="button" class="btn btn-success position-relative login-form" onclick="location.href = 'user'">Login</button>
</div>
</div>

<style>
    #container {
        margin-top:150px;
    }

    h1 {
        margin-bottom: 100px;
    }
</style>